<div class="modal-header text-center">
    <h4 class="sub-heading modal-title text-center" translate="organization.active.deactive.label"></h4>
</div>
<form name="editMobileForm" role="form" novalidate>
    <div class="modal-body">
        <div class="row">
            <h4 class="text-center" translate="confirm.delete.email.msg"></h4>
        </div>
    </div>
    <div class="modal-footer text-center">
        <button type="button" ng-click="confirmOk()" class="btn btn-primary greenbtn" translate="button.ok">
        </button>
        <button ng-click="cancleConfirmation()" class="btn btn-danger btn-xl" translate="button.cancel">
        </button>
    </div>
</form>
