<div id="customFileds" class="tab-pane fade in fade active">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
        <!-- NAME -->
        <div class="row top-border padding-top-20x">


            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-5 bs-example">
                    <h5 class="margin-bottom-40 margin-bottom-decrese-10 sub-heading">
                        <span ng-bind="'send.email.label' | translate"></span>
                    </h5>
                    <div class="form-group">
                        <div class="row col-md-offset-3">
                            <input type="checkbox" id="createEmailid" ng-model="anc.createEmailid" class="text-left"
                                   ng-change="anc.changeStatus('create',anc.createEmailid,anc.createMobNo)">
                            <label translate="notification.newuser.created.label"></label>
                        </div>

                        <div class="row col-md-offset-3">
                            <input type="checkbox" id="disEmailid" ng-model="anc.disEmailid" class="text-left"
                                   ng-checked="anc.disEmailid"
                                   ng-change="anc.changeStatus('disburse',anc.disEmailid,anc.disMobNo)">
                            <label translate="advice.disburser.label"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5 bs-example margin-">
                    <h5 class="margin-bottom-40 margin-bottom-decrese-10 sub-heading">
                        <span ng-bind="'send.sms.label' | translate"></span>
                    </h5>
                    <div class="form-group">
                        <div class="row col-md-offset-3">
                            <input type="checkbox" ng-model="anc.createMobNo" id="createMobNo" class="text-left"
                                   ng-change="anc.changeStatus('create',anc.createEmailid,anc.createMobNo)">
                            <label translate="notification.newuser.created.label"></label>
                        </div>

                        <div class="row col-md-offset-3">
                            <input type="checkbox" id="disMobNo" ng-model="anc.disMobNo" class="text-left"
                                   ng-checked="anc.disMobNo"  ng-change="anc.changeStatus('disburse',anc.disEmailid,anc.disMobNo)">
                            <label translate="advice.disburser.label"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="notificationFlashMsgDiv" class="margin-top-15" flash-message="2000"></div>
        <h4 translate="add.emails.mobiles.label" class="sub-heading margin-top-15"></h4>
        <div class="col-md-12 col-sm-12 col-xs-12">

            <!--for email-->
            <form name="anc.emailForm" role="form" class="form-horizontal notificationForm" novalidate>
                <div class="col-sm-6 padding-left-0">
                    <table class="col-md-12 table-bordered table-striped table-condensed cf padding-none ">
                        <thead>
                        <tr>
                            <th translate="user.email.label"></th>
                            <th translate="action.label"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="email in anc.emailGroup track by $index" class="show-hide-content">
                            <td class="head-con show-hide-content col-md-9">
                                <span ng-if="!email.edit" ng-bind="email.contact"></span>
                                <input ng-if="email.edit" type="email" name="addEmail_{{$index}}" id='addEmail' class="form-control text-left"
                                       ng-model="email.contact" placeholder="{{'email.label' | translate}}"
                                       ng-minlength="4" required>
                                <span ng-show="((anc.emailForm['addEmail_'+$index].$touched  || anc.emailForm.$submitted ) && anc.emailForm['addEmail_'+$index].$error.required)"
                                      class="text-danger"  ng-bind="'notification.email.required.errorMsg' | translate"></span>
                            </td>
                            <td>
                                <a ng-if="email.edit" href="" ng-click="anc.removeContact($index, email, anc.emailGroup, 'email');" uib-tooltip="close"
                                   class="color-red">
                                    <i class="fa fa-1x fa-times" aria-hidden="true"></i>
                                </a>
                                <div ng-if="!email.edit">
                                    <a href="javascript:;" ng-click="anc.editContact(email)" uib-tooltip="edit" class="margin-right-5">
                                        <img src="/app/images/action1.png"/>
                                    </a>
                                    <a href="javascript:;" ng-click="anc.deleteEmailId(email)" uib-tooltip="delete">
                                        <img src="/app/images/action2.png"/>
                                    </a>
                                </div>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                    <div class="col-md-12 col-sm-12 col-xs-12 margin-top-10 form-group">
                        <div class="col-md-6">
                            <button class="btn btn-default" type="button" uib-tooltip="add email" ng-click="anc.addEmail()" aria-hidden="true">
                                <i class="fa fa-1x fa-plus" aria-hidden="true"></i>&nbsp;<span translate="button.add"></span>
                            </button>
                        </div>
                        <div ng-if="anc.isContainEditedRows(anc.emailGroup)" class="col-md-6 text-right">
                            <button class="btn btn-primary greenbtn" ng-click="anc.saveContact(anc.emailGroup,'email')">Save</button>
                        </div>
                    </div>
                </div>
            </form>

            <form name="anc.mobileForm" role="form" class="form-horizontal notificationForm" novalidate>
                <!--For Mobile-->
                <div class="col-sm-5">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="col-md-12 table-bordered table-striped table-condensed cf padding-none ">
                            <thead>
                            <tr>
                                <th translate="mobile.no.label"></th>
                                <th translate="action.label"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="mobile in anc.phoneGroup track by $index" class="show-hide-content">
                                <td>
                                    <span ng-if="!mobile.edit" ng-bind="mobile.contact"></span>
                                    <input ng-if="mobile.edit" type="text" name="addPhoneno_{{$index}}" id='addPhoneno' class="form-control text-left"
                                           ng-model="mobile.contact" placeholder="{{'mobile.no.label' | translate}}"
                                           ng-minlength="10" ng-maxlength="10" ng-pattern="/^[0-9]{10,10}$/"
                                           required>
                                    <span ng-show="((anc.mobileForm['addPhoneno_'+$index].$touched  || anc.mobileForm.$submitted ) &&
                                          anc.mobileForm['addPhoneno_'+$index].$error.required)"
                                          class="text-danger"  ng-bind="'notification.mobile.num.required.errorMsg' | translate"></span>
                                </td>

                                <td>
                                    <a ng-if="mobile.edit" href="" ng-click="anc.removeContact($index, mobile ,anc.phoneGroup, 'mobile');" uib-tooltip="close"
                                       class="color-red">
                                        <i class="fa fa-1x fa-times" aria-hidden="true"></i>
                                    </a>
                                    <div ng-if="!mobile.edit">
                                        <a href="javascript:;" ng-click="anc.editContact(mobile)" uib-tooltip="edit" class="margin-right-5">
                                            <img src="/app/images/action1.png"/>
                                        </a>
                                        <a href="javascript:;" ng-click="anc.deleteMobileNo(mobile)" uib-tooltip="delete">
                                            <img src="/app/images/action2.png"/>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group margin-top-10">
                        <div class="col-md-6">
                            <button type="button" uib-tooltip="add mobile no." class="btn btn-default" ng-click="anc.addMobile()" aria-hidden="true">
                                <i class="fa fa-1x fa-plus" aria-hidden="true"></i>&nbsp;<span translate="button.add"></span>
                            </button>
                        </div>
                        <div ng-if="anc.isContainEditedRows(anc.phoneGroup)" class="col-md-6 text-right">
                            <button class="btn btn-primary greenbtn" ng-click="anc.saveContact(anc.phoneGroup,'mobile')">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>