<div class="modal-header">
    <h4 class="sub-heading modal-title text-center" translate="confirmation.label"></h4>
</div>
<form name="editMobileForm" role="form" novalidate>
    <div class="modal-body">
        <div class="row">
            <h4 class="text-center" translate="{{label}}"></h4>
        </div>
    </div>
    <div class="modal-footer text-center">
        <button type="button" ng-click="okay()" class="btn btn-primary greenbtn" translate="button.ok">
        </button>
        <button ng-click="cancel()" class="btn btn-default redbtn btn-xl" translate="button.cancel">
        </button>
    </div>
</form>