<div class="">
    <div class="modal-header">
        <h4 class="sub-heading modal-title" translate="confirmation.label"></h4>
    </div>
    <div class="modal-body text-center">
        <h4 translate="reject.payment.request.confirmation"></h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default greenbtn"  translate="reject.advice.btn.label" ng-click="rejectPaymentRequest()" ></button>
        <button class="btn btn-default redbtn" type="button" translate="button.cancel" ng-click="closePopup()" ></button>
    </div>
</div>