Hi <%= fullName %>,
<p></p>
<div>iPASS received a request to reset the password for this account.</div>
<p></p>
<div>To reset your password, please click on <a href=<%= url %>>link</a></div>
<p></p>
<div>This link expires in <%= linkExpiryTime %></div>
<p></p>
<div>Regards,</div>
<div>iPASS Team</div>

