<div style="max-width: 700px">
    <div class="modal-header">
        <h4 class="modal-title sub-heading" translate="confirmation.label"></h4>
    </div>
    <div class="modal-body">
        <div id="errorFlashMsgDiv" flash-message="4000" class=""></div>
        <div class="row">
            <h4 class="text-center" translate="account.delete.conform"></h4>
        </div>
    </div>

    <div class="modal-footer text-center">
        <button type="reset" class="btn greenbtn" ng-click="deleteBankDetail()" translate="user.button.delete">
        </button>
        <button type="button" ng-click="cancel()" class="btn redbtn" translate="button.cancel">
        </button>
    </div>
</div>
