<form >
    <div class="max-width-700px">
        <div class="modal-header">
            <h4 class="modal-title sub-heading" translate="confirmation.label"></h4>
        </div>

        <div class="modal-body">
            <div id="downloadErrorFlashMsgDiv" flash-message="4000" class=""></div>
            <div class="container-fluid">
                <div class="row">
                    <h4 class="text-center" ng-bind="'download.max.confirmation.msg' | translate:{ maxAllowedLimit:maxAdvicesDownload}"></h4>
                </div>
            </div>
        </div>

        <div class="modal-footer text-center">
            <!--<button type="reset" class="btn greenbtn"  ng-click="allProject? downloadAllPerProjectPdf():downloadAll()" translate="user.button.deleteUser">
            </button>-->
            <button type="button" ng-click="closePopup()" class="btn redbtn" translate="button.close">
            </button>
        </div>
    </div>
</form>