<!--
<div class="">
    <footer id="siteFooter" class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="footer-box">
                    <h6 class="text-center" translate="footer.copyright.label"></h6>
                </div>
            </div>
        </div>
    </footer>
</div>-->
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 copy">
                <center>
                    <p>This site is best viewed in 1024 X 786 resolution on Chrome v50.0+ and FireFox v39.0+.</p>
                </center>
            </div>

        </div>
    </div>
</section>