<!--<div class="parent">
    <form class="navbar-form text-center forgot-password" role="search" ng-submit="fpc.forgotPassword()">
        &lt;!&ndash;Error message&ndash;&gt;
        <div class="row margin-bottom-10x">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div id="passwordFlashMsgDiv" flash-message="5000"></div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
            <input type="email" class="form-control" placeholder="Enter Email id" aria-describedby="basic-addon1" ng-model="fpc.user.username" required style="width: 300px;">
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-success">
            <i class="fa fa-repeat" aria-hidden="true">&nbsp;&nbsp;{{'button.reset.password.link'|translate}}</i>
        </button>
    </form>
</div>-->

<!--login form-->
<section class="login">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="color-heading">
                <center>
                    <h3>Forgot Password</h3>
                </center>
            </div>
        </div>
        <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2">
            <div id="passwordFlashMsgDiv" flash-message="5000"></div>
            <div class="login-form forgot">
                <form name="fpc.form" ng-submit="fpc.forgotPassword()" novalidate>
                    <div class="form-group">
                        <span ng-show="(fpc.form.$submitted && fpc.inValidCredentials)"
                              ng-bind="'login.credential.email.error.label' | translate" class="text-danger medetory-astericks login-required font-size-20px"></span>
                        <input class="form-control user error-msg-margin-bottom" aria-describedby="basic-addon1" placeholder="Enter Email Id"
                               name="username" type="Email" ng-model="fpc.user.username" required />
                                                <span ng-show="(fpc.form.$submitted || fpc.form.username.$touched) && fpc.form.username.$error.email"
                                                      ng-bind="'login.invalid.email.label' | translate" class="text-danger medetory-astericks login-required font-size-20px"></span>
                        <span ng-show="(fpc.form.$submitted || fpc.form.username.$touched) && fpc.form.username.$error.required"
                              ng-bind="'user.email.id.required' | translate" class="text-danger medetory-astericks login-required font-size-20px"></span>

                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default" translate="button.reset.password.link"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
