<div id="payeedetail" class="tab-pane fade in fade active">
    <div class="col-md-12 col-sm-12 col-xs-12 padding-none">
        <div id="payeeFlashMsgDiv" flash-message="2000" class=""></div>
        <div class="col-md-12 col-sm-12 col-xs-12 padding-none margin-bottom-10">
            <div class="col-md-6 padding-left-0">
                <span class="col-md-3 padding-left-0 padding-right-0" ng-bind="'admin.payee.total'  | translate:{ total:aapc.totalPayees}"></span>
            </div>
            <div class="col-md-6 padding-right-0" ng-if="$root.isMasterAdminRole();">
                <button type="submit" class="btn btn-primary greenbtn pull-right" ui-sref="admin.payee">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;
                    <span translate="button.add.payee"></span>
                </button>
            </div>
        </div>
        <div id="no-more-tables deatail-table">
            <table ng-table="aapc.tableParams" show-filter="!aapc.noRecordMessage"
                   class="col-md-12 table-bordered table-striped table-condensed cf padding-none">
                <tr ng-repeat="payee in $data" ng-if="!aapc.noRecordMessage" ng-click="$root.isMasterAdminRole()? '':aapc.viewPayee(payee)">
                    <td title="'Payee Name'" filter="{ name: 'text'}" sortable="'name'" ng-bind="aapc.getFullName(payee.user) | camelCase"></td>
                    <td title="'Nick Name'" filter="{ nickName: 'text'}" sortable="'nickName'" ng-bind="payee.nickName | camelCase"></td>
                    <td title="'Email Id'" filter="{ email: 'text'}" sortable="'email'" ng-bind="payee.user.email">}</td>
                    <td title="'Account Number'" sortable="'accountNumber'" ng-bind="payee.accountNumber"></td>
                    <td title="'Mobile Number'" filter="{ phoneNumber: 'text'}" sortable="'phoneNumber'" ng-bind="payee.user.phoneNumber"></td>
                    <td title="'Action'" class="text-center table-action" ng-if="$root.isMasterAdminRole();">
                        <a href="" ng-click="aapc.editPayee(payee)" uib-tooltip="edit" class="margin-right-5">
                            <img alt="edit" src="/app/images/action1.png"/>
                        </a>
                        <a href="" ng-click="aapc.deletePayee(payee)" uib-tooltip="delete" class="margin-right-5">
                            <img alt="delete" src="/app/images/action2.png" />
                        </a>
                    </td>
                        <td title="'Action'" class="text-center table-action" ng-if="!$root.isMasterAdminRole();">
                        <a href=""  uib-tooltip="View" class="margin-right-5">
                            <i class="fa fa-eye" aria-hidden="true" title=""></i>
                        </a>
                    </td>
                </tr>
                <tr ng-if="aapc.isDataExist">
                    <td class="color-grey text-align-center" colspan="5">
                        <h4 translate="payee.record.notFound"></h4>
                    </td>
                </tr>
            </table>
        </div>
        <div class="clearfix"></div>
    </div>
</div>





