<div id="passwordFlashMsgDiv" flash-message="5000" class=""></div>
<div class="parent">
    <form class="navbar-form text-center forgot-password" role="search" name="form">
        <h4 translate="reset.password.heading"></h4>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" ng-model="rpc.currentUsername" ng-readonly="true" style="width: 300px;">
        </div>
        <br>
        <br>
        <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i>
            </span>
            <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" ng-model="rpc.password" style="width: 300px;">
        </div>
        <br>
        <br>
        <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true">
        </i></span>
            <input type="password" class="form-control" placeholder="Reset Password" aria-describedby="basic-addon1" name="resetPassword" ng-model="rpc.resetP" ng-match="password" style="width: 300px;">
            <!--<span data-ng-show="form.resetPassword.$error.match">Emails have to match!</span>-->
        </div>
        <br>
        <br>
        <button class="btn btn-defauly greenbtn" ng-click="rpc.resetPassword()"><i class="fa fa-floppy-o" aria-hidden="true">
            &nbsp;&nbsp;{{'button.save.password'|translate}}</i> </button><br>
    <span ng-show="rpc.IsMatch">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{'password.conform'|translate}}
    </span>
    </form>
</div>
