<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
           <!-- <h1>Virtual Ledgers</h1>-->
            <div id="virtualLedgerFlashMsgDiv" class="margin-top-15" flash-message="2000"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form name="vlc.ledgerForm" role="form" class="form-horizontal" novalidate>
                <div class="col-sm-10 padding-left-0">
                    <table class="col-md-12 table-bordered table-striped table-condensed cf padding-none ">
                        <thead>
                        <tr>
                            <th translate="virtual-ledger.list.ledger.label"></th>
                            <th translate="virtual-ledger.list.payee.label"></th>
                            <th translate="action.label"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="ledger in vlc.virtualLedgers track by $index" class="show-hide-content">
                            <!--TODO:-->
                            <td class="col-md-4">
                                <span ng-if="!ledger.edit" ng-bind="ledger.name |camelCase"></span>
                                <input ng-if="ledger.edit" type="text" ng-model="ledger.name" name="name{{$index}}" id="name" class="form-control mandatory-mark text-left"
                                       ng-pattern="vlc.ledgerNamePattern" ng-maxlength="{{vlc.ledgerNameMaxLength}}" placeholder="{{'virtual-ledger.list.ledger.label' | translate}}" required>
                                <span ng-if="ledger.edit" ng-show="(vlc.ledgerForm['name'+$index].$touched) && vlc.ledgerForm['name'+$index].$error.maxlength"
                                      class="text-danger" ng-bind="'max.custom.error' | translate:{ max:vlc.ledgerNameMaxLength}"></span>
                            </td>
                            <td class="col-md-4">
                                <span ng-if="!ledger.edit" ng-repeat="payee in ledger.payees track by $index">
                                    <span ng-bind="payee.nickName| camelCase"></span>
                                    <span ng-if="$index < ledger.payees.length - 1"> ,</span>
                                </span>
                                <ui-select ng-if="ledger.edit" ng-model="ledger.payees" name="payees" id="payees{{$index}}" multiple class="mandatory-mark" theme="bootstrap" required>
                                    <ui-select-match placeholder="Select payee" allow-clear="true" >{{$item.nickName}}</ui-select-match>
                                    <ui-select-choices repeat="payee in vlc.payees | filter: $select.search" refresh="vlc.getAllPayees($select.search)" refresh-delay="0">
                                        {{payee.nickName | camelCase}}
                                    </ui-select-choices>
                                    <ui-select-no-choice translate="label.noMatching.found"></ui-select-no-choice>
                                </ui-select>
                            </td>
                            <td class="col-md-3">
                                <a ng-if="ledger.edit" href="" ng-click="vlc.removeVirtualLedger($index, ledger);" uib-tooltip="close"
                                   class="color-red">
                                    <i class="fa fa-1x fa-times" aria-hidden="true"></i>
                                </a>
                                <div ng-if="!ledger.edit">
                                    <a href="javascript:;" ng-click="vlc.editVirtualLedger(ledger)" uib-tooltip="edit" class="margin-right-5">
                                        <img src="/app/images/action1.png"/>
                                    </a>
                                    <a href="javascript:;" ng-click="vlc.deleteVirtualLedger(ledger)" uib-tooltip="delete">
                                        <img src="/app/images/action2.png"/>
                                    </a>
                                </div>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                    <div class="col-md-12 col-sm-12 col-xs-12 margin-top-10 form-group">
                        <div class="col-md-6">
                            <button class="btn btn-default" type="button" uib-tooltip="Add Virtual Ledger" ng-click="vlc.addLedger()" aria-hidden="true">
                                <i class="fa fa-1x fa-plus" aria-hidden="true"></i>&nbsp;<span translate="button.add"></span>
                            </button>
                        </div>
                        <div class="col-md-3 pull-right">
                            <button ng-if="vlc.isContainEditedRows(vlc.virtualLedgers)" class="btn btn-primary greenbtn" type="button" uib-tooltip="Save Virtual Ledger" uib-tooltip="add Virtual Ledger" ng-click="vlc.saveVirtualLedger()" aria-hidden="true">
                                <span translate="button.save"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
